body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

h1, h2 {
    font-family: "Open Sans", Helvetica, sans-serif;
}

p {
    font-family: "Hind", Arial, Helvetica, sans-serif;
}